<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="../platform/platform.js"></script>
<link rel="import" href="basic-framed-content.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}

basic-framed-content {
  padding: 2em;
}
</style>

<script>
window.addEventListener( "load", function() {
  var button = document.querySelector( "#button" );
  button.addEventListener( "click", function() {
    var content = document.querySelector( "#content" );
    console.log( "click" );
    debugger;
    content.broadcastHeight();
  })
});
</script>

</head>

<body unresolved>
<basic-framed-content id="content">
  <div>Hello, world</div>
  <button id="button">Test</button>
</basic-framed-content>
</body>

</html>
