<!--
  
Base class for some of the elements in the Basic Web Components collection.

This provides some services which aren't provided by the browser or Polymer.
Right now, this includes:

* Generic styling. A "generic" attribute, which defaults to true, allows
  elements to receive baseline styling that can easily be removed by setting
  "generic" to false.

* contentChanged. A callback invoked when an element's light DOM content changes.
  This is also invoked if the element contains a <content> node and new nodes
  are distributed to that. Note: if an element has an attached callback, the
  callback should invoke this.super() for contentChanged to work.

-->

<link rel="import" href="../polymer/polymer.html">

<polymer-element name="basic-element">

<script>
// Basic helpers.
window.BasicWebComponents = {

  attached: function() {
    // If the element has a contentChanged handler, then wire up an observer for
    // content change events.
    if ( this.contentChanged ) {
      this._observeContentChanged( this, function() {
        this._observeContentChangedHandler();
      }.bind( this ));
      if ( this.childNodes.length > 0 ) {
        // Consider any initial content of a new element to be "changed" content.
        this._observeContentChangedHandler();
      }
    }
  },

  // Extend the given set of members with the helpers and return the result.
  // TODO: Prevent this from inadvertently reading getters on the target object.
  extend: function( options ) {
    options = options || {};
    for ( var key in BasicWebComponents ) {
      if ( !options[ key ] ) {
        options[ key ] = BasicWebComponents[ key ];
      }
    }
    return options;
  },

  // Return the host element for this element. If this element is not hosted by
  // another element (it's not attached to anything, or is hosted by the
  // top-level document), this returns null.
  //
  // TODO: Make this a getter. This complicates extend (above), which will try
  // to read the getter when extending a class.
  host: function() {
    for ( var parent = this.parentNode; parent != null; parent = parent.parentNode ) {
      if ( parent.host ) {
        return parent.host;
      }
    }
  },

  // Helper function to log output to the console, prefixed by the element's
  // tag. This makes it easier to see which element is logging the output.
  log: function( s ) {
    if ( console ) {
      console.log( this.localName + ": " + s );
    }
  },

  ready: function() {
    this.super();
    this.setup();
  },

  publish: {
    generic: {
      value: null,
      reflect: true
    }
  },

  setup: function() {
    // We explicitly set the generic attribute to true, rather than providing
    // that as a default value. A default value won't appear on an element
    // instance as an attribute, but an attribute we set explicitly will. We
    // need the attribute there so that generic styling can be set simply by
    // defining rules like
    //
    //   :host([generic=""]) {
    //     ...
    //   }
    //
    if ( this.getAttribute( "generic" ) == null ) {
      this.generic = true;
    }
  },

  // Wire up an observer for (light DOM) content change events on the given
  // node.
  _observeContentChanged: function( node, handler ) {
    var observer = new MutationObserver( handler );
    observer.observe( node, {
      characterData: true,
      childList: true,
      subtree: true
    });
  },

  _observeContentChangedHandler: function() {
    var containsContentNode = ( this.querySelector( "content" ) != null );
    if ( containsContentNode ) {
      // The element's new content contains <content> nodes, so from now on,
      // we need to observe our host element, too.
      // TODO: If this element's content changes again, disconnect any
      // outstanding observers of that old content.
      // TODO: If the host element *also* contains <content> nodes, we should
      // watch those too. *sigh*
      this._observeHostContentChanged();
    }
    this.contentChanged();
  },

  _observeHostContentChanged: function() {
    var host = this.host();
    if ( host ) {
      this._observeContentChanged( host, function() {
        this.contentChanged();
      }.bind( this ));
    }
  }

};

Polymer( "basic-element", BasicWebComponents.extend() );
</script>

</polymer-element>
