<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="../platform/platform.js"></script>
<link rel="import" href="../basic-framed-content/basic-framed-content.html">
<link rel="import" href="../basic-calendar-month/basic-calendar-month.html">
<link rel="import" href="demo/calendar-day-moon-phase.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}

basic-framed-content {
  padding: 2em;
}

p {
  max-width: 800px;
}
</style>

</head>

<body unresolved>
<basic-framed-content>
  <basic-calendar-month dayTag="calendar-day-moon-phase"></basic-calendar-month>
  <p>
    This calendar shows how to use basic-calendar-day to show custom data in a
    month calendar. Here, a custom subclass of basic-calendar-day has been
    defined that includes an instance of another element that can show the phase
    of the moon for a given date. In the same way, other types of date-sensitive
    data could easily be shown on a calendar.
  </p>
</basic-framed-content>
</body>

</html>
