<!--
Filters its children to show those whose text content contains a given string.

The matches have a .filterMatch CSS class applied to them. Create styling rules
to define whether the matches should be highlighted, the misses downplayed, etc.
By default, nodes that don't match will be hidden with display: none.

If content nodes are distributed into this element's content, they will be
searched recursively. (The content nodes themselves won't match).
-->

<link rel="import" href="../basic-element/basic-element.html">

<polymer-element name="basic-filter-by-text" extends="basic-element" attributes="caseSensitive filter">

<template>

  <style>
  :host {
    display: block;
  }
  
  polyfill-next-selector {
    content: ':host > :not(.filterMatch)';
  }
  ::content > :not(.filterMatch) {
    display: none !important;
  }
  </style>

  <content id="content"></content>

</template>

<script>
Polymer({

  caseSensitive: false,

  contentChanged: function() {
    this._refresh();
  },

  filter: "",

  filterChanged: function() {
    this._refresh();
  },

  _applyFilter: function( node, filter, caseSensitive ) {
    if ( !caseSensitive && filter ) {
      filter = filter.toLowerCase();
    }
    this.flattenChildNodes.forEach( function( child ) {
      if ( child.classList ) {
        var text = child.textContent;
        if ( !caseSensitive ) {
          text = text.toLowerCase();
        }          
        var matches = ( text.indexOf( filter ) >= 0 );
        child.classList.toggle( "filterMatch", matches );
      }
    }.bind( this ));
  },

  _refresh: function() {
    this._applyFilter( this.$.content, this.filter, this.caseSensitive );
  }

});
</script>

</polymer-element>
